#app-holder {
  display: flex;
  flex-direction: column;
}

#photo-container {
  width: 100%;
}

#bottom-services {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#campsite-host-info {
  width: 60%;
}

#booking {
  width: 60%;
  position: relative;
  top: -2em;
  margin-right: 26em;
}

#nav-bar-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#nav-bar-left {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  float: left;
}

#nav-bar-right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  float: right;
}

.tenthop-image {
  padding-left: 20px;
}

.input-wrapper {
  position: relative;
}

i.fa-search {
  position: absolute;
  top: 10px;
  left: 50px;
}

.search {
  padding: 6px;
  margin-left: 2em;
  font-size: 20px;
  width: 24em;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  display: flex;
  color: gray;
  border-style: solid;
  border-radius: 5px;
}

.search:focus {
  color: black;
}

.navbar-a {
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px 10px;
  font-size: 15px;
  border-bottom: 3px solid white;
  letter-spacing: 0.1em;
  color: black;
  cursor: pointer;
  transition: border-bottom ease-in-out;
}

.navbar-a:hover {
  border-bottom: 3px solid #40d9ac;
}

.host-button {
  background-color: #41d9ab;
  border-radius: 1px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  padding: 18px 27px;
  margin: 5px 15px;
  margin-right: 42px;
  text-decoration: none;
  outline: none;
  text-shadow: 0px 1px 0px #2f6627;
  transition: background-color 0.1s;
}

.host-button:hover {
  background-color: #3dc69e;
}

.covid-info {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #44345c;
  border: 2px solid #230047;
  height: 50px;
  margin: 0px 6px;
}

.covid-p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: white;
  text-align: center;
}

.covid-p a {
  text-decoration: none;
  color: rgb(192, 192, 192);
}